.backgound-one{
    width:100vw;
    height:100vh;
    background: url("../../Assets//ImageBackground/Rectangle.png") fixed center no-repeat;
}


.box-login{
width: 350px;
height: 350px;
display: grid;
background: rgba(255, 255, 255, 0.22);
border-radius: 70px;
align-items: center;
}

.box-login .formLogin input{ 
    width: 320px;
    height: 68px;
   
    
    border: 2px solid #FFFFFF;
    border-radius: 15px;

}

.box-login .formLogin{
    height:35%;
    display
    display: grid;
}