.boxPorcentagemMain{
    width:40%;
    display:grid;
    flex-direction: column;
    justify-content:center;
    margin: 20px;
    text-align: center;
}
.boxPorcentagemMain h1{
 margin-bottomn
}
@media(max-width:800px){
    .boxPorcentagemMain{
        width: 100%;
        display: flex;
        justify-content:center;
        margin: 20px;
    
    }
}