.ListaCursosMain{
    width: 50%;
    margin: 20px;
    tex

}

@media(max-width:800px){
    .ListaCursosMain{
        width: 100%;
        display: flex;
        justify-content:center;
        margin: 20px;
    
    }
}