.ListaCursosMain{
    width: 50%;
    margin: 20px;
  

}
.ListaCursosMain h2{
   font-size:25px;
   width:40%;

}
@media(max-width:800px){
    .ListaCursosMain{
        width: 100%;
        display: flex;
        justify-content:center;
        margin: 20px;
    
    }
}