.box-login {
  width: 350px;
  height: 350px;
  display: grid;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 70px;
  justify-content: center;
  align-items: center;
}

.box-login .formLogin input[type="text"] {
  width: 270px;
  height: 35px;
  margin-bottom: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding-left: 15px;
 background:transparent;
 color: #ffffff;
}
.box-login .formLogin input::placeholder {
    color: #ffffff;
  }
.box-login .formLogin {
  height: 100%;
  width: 350px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: grid;
}
.box-login .formLogin a{
    color: black;
    margin-top: -40px;
    display:flex;
    justify-content:flex-end;
}

.box-login .formLogin a:{
    color: black;
    margin-top: -40px;
    display:flex;
    justify-content:flex-end;
}

.box-login .formLogin h1 {
    text-align: center;
  }
.box-login .formLogin input[type="submit"] {
    width: 180px;
    height: 35px;
    margin-bottom: 0;
    bottom: 0;
    box-sizing: border-box;
   
    border-radius: 10px;
    padding-left: 15px;
    background: #C91111;
   color: #ffffff;
  }